@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  .do-hyeon-regular {
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

@layer components {
  .sc-section {
    @apply p-2 md:p-4 text-white rounded-lg m-4 bg-brightDarkColor;
  }

  .sc-lightArticle {
    @apply p-2 md:p-4 text-brightDarkColor rounded-lg m-4 bg-scOffWhiteColor align-middle;
  }

  .sc-lightArticleSkeleton {
    @apply sc-lightArticle h-[150px] animate-pulse;
  }

  .sc-articleHeader {
    @apply m-1 mb-2 text-base md:text-xl font-semibold;
  }

  .sc-lightButton {
    @apply p-1 px-2 text-white rounded-lg bg-scGreenColor font-medium text-center align-middle hover:bg-scGreenHoverColor min-h-[40px] min-w-[40px];
  }

  .sc-smInfoBox {
    @apply p-1 mr-2 text-white text-xs font-medium text-center rounded-lg bg-scGreenColor text-nowrap max-h-6;
  }

  .sc-smRedInfoBox {
    @apply sc-smInfoBox bg-scRedColor;
  }

  .sc-smGreyInfoBox {
    @apply sc-smInfoBox bg-scDarkGreyColor;
  }
}